$side-bar-font-color-white: #FFFFFF;
$sife-bar-header-color-black: #253141;
$side-bar-groups-color-light-black: #2f3e51;
$chat-header-color-white:#333333;
$chat-members-date-color-light-black: #999999;
$button-color-blue: #38AEF0;
$chat-body-color-gray: #AAAAAA;
$chat-font-color-light-black: #434A54;
$form-font-color-light-black: #434A54;
$form-color-light-gray: #DDDDDD;
$form-icon-color-white: #FFFFFF;
$form-button-font-color-white: #fff;



// 以下フラッシュメッセージの色
$white: #fff;
$side_blue_dark: #253141;
$side_blue_light: #2f3e51;
$light_blue: #38AEF0;
$light_gray: #999;
$black: #434a54;
$alert_orange: #F35500;
